.pagination {
  text-align: center;
  margin-bottom: 30px;
}

.button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 0, 128);
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(255, 0, 128);
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: rgb(128, 0, 255);
  transform: scale(1.05);
}

.active {
  background-color: rgb(128, 0, 255);
  box-shadow: 0 0 12px rgb(255, 0, 255);
}
